# Ignore all __pycache__ directories anywhere in the project
**/__pycache__/

*.egg-info/

# Ignore all compiled Python files
*.pyc
*.pyo
*.pyd
**/output/*
output/

**/*.pth

notebooks/evaluation_videos/
notebooks/official_eval_results/
notebooks/official_eval_smoke/
notebooks/output
deliverables/